
*{
    padding: 0;
    margin: 0;
}


body{
    background-color: rgb(1, 47, 81);
    color: #000;

}


.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 5px 25px;
    color: white;
    
}
.img{
    width: 100px;
    border-radius: 25px;
    justify-items: left;
}
.encabezado-articulo{
    width: auto;
    height: auto;
    padding: 10px;
    text-align: center;
    background-color: rgb(1, 47, 81);
    color: rgb(255, 255, 255);
    margin: 1em 2em;
    border-radius: 5px;

}
.encabezado-aside{
    padding: 10px 10px;
    text-align: center;
    background-color: rgb(86,161,81);
    color: white;
    margin: 1em 2em;
}
.menu-aside{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0,25px;
}
.lista-aside{
    padding: 10px;

}
.lista-aside li{
    display: flex;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 0 2px;
    list-style: square;
    color: #000;
}
/* selector id */
#contenedor{
    width: auto;
    height: auto;
    color: black;
    background-color: rgb(1, 47, 81);
    max-width: 0 auto;
    border-radius: 5px;
}
#encabezado{
    width: auto;
    color: rgb(255, 252, 252);
    background-color: rgb(1, 47, 81);
    margin: 1em;
    border-radius: 5px;
    padding: 0 50 px;
    justify-items: left;
}
#menu{
    height: 5%;
    background-color: #7e815b;
    margin: 1em;
    border-radius: 5px;
}
#contenido{
    height: 85%;
    width: 58%;
    background-color: #b5bf9a;
    margin: 0.5em;
    display: inline-block;
    border-radius: 5px;
    text-align: center;
}
#fueraSeccion{
    height: 75%;
    width: 35%;
    margin: 0.5em;
    display: inline-block;
    vertical-align: top;
    border-radius: 5px;
}
#pie{
    height: 10%;
    background-color: #b5bf9a;
    margin: 1.5em;
    text-align: center;
    padding: 5px;
}
#pie h4{
    padding: 15px;
    font-size: 30px;

}

ul{
    text-align: center;
    padding: 10px;
}
li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;

}
li a:hover{
    color: crimson;
    text-decoration: none;
    list-style: none;
}