body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #bebaba;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #808080;
}

tr:hover {
    background-color: #f5f5f5;
}

button {
    background-color: #fd0505;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

button:hover {
    background-color: #787c79;
}

label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    align-content: center;
    width: 20%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }

