body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #bebaba;
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

p {
    margin-bottom: 10px;
}

button {
    background-color: #fd0505;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #787c79;
}

input {
    padding: 8px;
}